*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}

main {
    max-width: 500px;
    width: 100%;

    margin: 0 auto;

    img {
        width: 100%;
        object-fit: contain;
        display: block;
    }
}

.socials {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;

    a {
        height: 40px;
        width: 40px;
        img {
            width: 40px;
            aspect-ratio: 1/1;
        }
    }
}
